@import '../../theme.css';

.c-screen {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--backgr-clr);
}

.box {
    position: relative;
    display: flex;
    border-radius: 10px;
}

.month {
    position: relative;
    min-width: 480px;
    min-height: 476px;
    background: var(--calendar-clr);
    border-radius: 10px;
    box-shadow:
        5px 5px 25px var(--shadow-clr),
        -5px -5px 25px var(--shadow-clr);
}

.container {
    position: relative;
    margin-left: 16px;
    min-width: 286px;
    min-height: 476px;
    background: var(--calendar-clr);
    border-radius: 10px;
    box-shadow:
        5px 5px 25px var(--shadow-clr),
        -5px -5px 25px var(--shadow-clr);
}

/*===========================MONTHCALENDAR=========================*/

#monthcal {
    font-size: 1.5em;
    width: 100%;
    padding: 32px 30px 30px;
}

#monthcal .dyncalendar-header {
    height: 44px;
}

#monthcal table {
    font-size: 0.75em;
    width: 100%;
    border-spacing: 15px;
    margin-top: 20px;
}

#monthcal .dyncalendar-month-container .table-data {
    min-height: 36px;
    min-width: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:
        5px 5px 10px var(--shadow-clr),
        -5px -5px 10px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .table-data:hover {
    box-shadow:
        inset 2px 2px 5px var(--shadow-clr),
        inset -2px -2px 5px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .table-prev-data {
    min-height: 36px;
    min-width: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: var(--second-text-clr);
    box-shadow:
        5px 5px 10px var(--shadow-clr),
        -5px -5px 10px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .table-prev-data:hover {
    color: var(--second-text-clr);
    box-shadow:
        inset 2px 2px 5px var(--shadow-clr),
        inset -2px -2px 5px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .table-next-data {
    min-height: 36px;
    min-width: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: var(--second-text-clr);
    box-shadow:
        5px 5px 10px var(--shadow-clr),
        -5px -5px 10px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .table-next-data:hover {
    color: var(--second-text-clr);
    box-shadow:
        inset 2px 2px 5px var(--shadow-clr),
        inset -2px -2px 5px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .dyncalendar-today-date {
    min-height: 36px;
    min-width: 36px;
    text-align: center;
    cursor: pointer;
    background: var(--days-clr);
    color: var(--days-text-clr);
    box-shadow:
        5px 5px 10px var(--shadow-clr),
        -5px -5px 10px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .dyncalendar-today-date:hover {
    background: var(--days-clr);
    color: var(--calendar-clr);
    box-shadow:
        inset 2px 2px 5px var(--text-clr),
        inset -2px -2px 5px var(--hover-clr);
}

#monthcal table tr:nth-child(1) td {
    background: var(--days-clr);
    color: var(--days-text-clr);
    min-height: auto;
    min-width: auto;
    border-radius: 10px;
    font-weight: 700;
    box-shadow:
        5px 5px 10px var(--shadow-clr),
        -5px -5px 10px var(--calendar-clr);
}

#monthcal table tr:nth-child(1) td:nth-child(6) {
    background: var(--secondary-clr);
    color: var(--text-clr);
}

#monthcal table tr:nth-child(1) td:nth-child(7) {
    background: var(--secondary-clr);
    color: var(--text-clr);
}

#monthcal .dyncalendar-month-container .dyncalendar-header .dyncalendar-prev-next-btn.prev-btn {
    width: 36px;
    text-align: center;
    font-size: 1em;
    left: 15px;
    top: 4px;
    color: var(--text-clr);
    background: var(--calendar-clr);
    border-radius: 10px;
    box-shadow:
        2px 2px 5px var(--shadow-clr),
        -2px -2px 5px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .dyncalendar-header .dyncalendar-prev-next-btn.next-btn {
    width: 36px;
    text-align: center;
    font-size: 1em;
    right: 15px;
    top: 4px;
    color: var(--text-clr);
    background: var(--calendar-clr);
    border-radius: 10px;
    box-shadow:
        2px 2px 5px var(--shadow-clr),
        -2px -2px 5px var(--calendar-clr);
}

#monthcal .dyncalendar-month-container .dyncalendar-header .dyncalendar-prev-next-btn.prev-btn:active,
#monthcal .dyncalendar-month-container .dyncalendar-header .dyncalendar-prev-next-btn.next-btn:active {
    box-shadow:
        inset 2px 2px 5px var(--shadow-clr),
        inset -2px -2px 5px var(--calendar-clr);
}

#monthcal .dyncalendar-span-month-year {
    min-width: 282px;
    left: 49%;
    transform: translateX(-50%);
    color: var(--text-clr);
    font-size: 1.4em;
    font-weight: 400;
}

/*============================DAYCALENDAR==========================*/

#daycal {
    width: 100%;
    padding: 30px 30px 3px 30px;
}

#daycal .dyncalendar-span-date {
    color: var(--text-clr);
    font-weight: 400;
}