.dyncalendar-container {
    display: inline-block;
    border: 1px solid #eee;
}

.dyncalendar-container.round-edge {
    border-radius: 5%;
    -o-border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

/*=========================== DAY CALENDAR ========================*/

/*
 * day calendar style
 */
.dyncalendar-day-container {
    padding: 5px;
    text-align: center;
    font-family: Arial;
}

.dyncalendar-day-container div {
    padding: none;
    margin-bottom: none;
}

.dyncalendar-day-container .dyncalendar-header {
    padding: 0px;
    margin-bottom: none;
}

.dyncalendar-day-container .dyncalendar-span-date {
    font-size: 2.5em;
}

.dyncalendar-day-container .dyncalendar-span-day {
    font-size: 1.5em;
}

.dyncalendar-day-container .dyncalendar-span-month-year {
    font-size: 0.75em;
    min-height: 14px;
}

/*===================== DAY CALENDAR ENDS HERE ====================*/



/*====================== MONTH CALENDAR DEFAULT ===================*/

/*
 * month calendar style
 */
.dyncalendar-month-container {
    padding: 10px;
    text-align: center;
    font-family: Arial;
}

.dyncalendar-month-container div {
    padding: 0px;
    margin-bottom: 0px;
}

.dyncalendar-month-container .dyncalendar-header {
    position: relative;
    min-height: 36px;
}

.dyncalendar-month-container .dyncalendar-header .dyncalendar-prev-next-btn {
    position: absolute;
    top: 0px;
    cursor: pointer;
    text-align: center;
}

.dyncalendar-month-container .dyncalendar-header .dyncalendar-prev-next-btn.prev-btn {
    left: 0px;
}

.dyncalendar-month-container .dyncalendar-header .dyncalendar-prev-next-btn.next-btn {
    right: 0px;
}

.dyncalendar-month-container .dyncalendar-span-month-year {
    position: absolute;
    bottom: 0px;
    margin: 5px;
    cursor: pointer;
}

.dyncalendar-month-container .dyncalendar-body table tr td {
    padding: 5px;
}

.dyncalendar-month-container .dyncalendar-today-date,
.dyncalendar-month-container .dyncalendar-target-date {
    background-color: #111;
    color: #fff;
    border-radius: 10px;
}

/*==================== MONTH CALENDAR ENDS HERE ===================*/

/*========================= EVENTS CONTAINER ======================*/
/*
 * events container style
 */

.events-list ul {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.events-list ul li {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, #3f4458, transparent);
    cursor: pointer;
}

.add-event-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #878895;
    border: 2px solid #878895;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

/*=================== EVENTS CONTAINER ENDS HERE ==================*/