@import '../../theme.css';

.container {
    height: 100%;
}

/* Стили для daycal */
#daycal {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6.25%;
    padding-left: 9.6%;
    padding-right: 9.6%;
    border-radius: 10px;
    height: 25%;
    width: 100%;
}

.dyncalendar-day-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dyncalendar-header,
.dyncalendar-body,
.dyncalendar-footer {
    flex: 1;
    display: flex;
    color: var(--text-clr);
    align-items: center;
    justify-content: center;
}

.dyncalendar-span-date {
    font-weight: 400;
    font-size: 2.5em;
}

.dyncalendar-span-day {
    font-size: 1.5em;
}

.dyncalendar-span-month-year {
    font-size: 0.75em;
}

/* Стили для events */
#events {
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
    padding-left: 9.6%;
    padding-right: 9.6%;
    padding-bottom: 9%;
}

#event-ready-marker {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-color: var(--mark-clr);
    border: 2px solid var(--days-clr);
    border-radius: 8px;
    box-shadow:
        2px 2px 5px var(--shadow-clr),
        -2px -2px 5px var(--calendar-clr);
}

#event-ready-marker.non-ready {
    background-color: var(--calendar-clr);
}

#delete-event-button {
    display: flex;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--days-clr);
    box-shadow: 2px 2px 5px var(--shadow-clr),
        -2px -2px 5px var(--calendar-clr);
}

#delete-event-button:hover {
    box-shadow:
        inset 2px 2px 5px var(--shadow-clr),
        inset -2px -2px 5px var(--calendar-clr);
}

#delete-event-button .deleteEvent {
    color: var(--icon-clr);
}

.events-manager {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 1;
}

.event-list-container {
    flex: 1;
    position: relative;
    display: flex;
    min-height: 87.5%;
    justify-content: center;
    z-index: 1;
}

.event-list {
    list-style: none;
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--secondary-clr);
    border-radius: 10px;
}

.event-list .event {
    position: relative;
    display: flex;
    width: 100%;
    height: 25%;
    padding: 6px 10px;
    cursor: pointer;
    color: var(--text-clr);
    border-radius: 10px;
    background-color: var(--calendar-clr);
    transition: box-shadow 0.3s ease;
}

.event-list .event .event-title {
    flex-grow: 1;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 6px;
}

.event-list .event .group-field {
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 6px;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--g-test-clr);
}

.event-list .event .group-field .group-field-inner {
    color: var(--dark-text-clr);
}

.event-list .event .event-toolbox {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 6px;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-event-wrapper {
    position: absolute;
    bottom: calc(12.5%);
    /* Задаем отрицательный отступ вручную */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border-radius: 10px;
    transition: max-height 0.75s ease-out;
    background-color: var(--calendar-clr);
    box-shadow: 2px 2px 5px var(--shadow-clr);
}

.add-event-wrapper.active {
    max-height: 300px;
}

.wrapper-header {
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.wrapper-header .wrapper-header-title {
    font-size: 1.2em;
    font-weight: 150;
}

.wrapper-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper-body .add-event-input {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.wrapper-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-clr);
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-clr);
    background-color: var(--calendar-clr);
}

.wrapper-body .add-event-input input::placeholder {
    color: var(--shadow-clr);
}

.wrapper-body .add-event-input input.error::placeholder {
    color: var(--error-clr);
}

.wrapper-body .add-event-input input:focus {
    border-bottom: 1px solid var(--text-clr);
}

.wrapper-body .add-event-input input:focus::placeholder {
    color: var(--calendar-clr);
}

.create-event-button {
    height: 36px;
    width: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: var(--text-clr);
    background: var(--calendar-clr);
    border-radius: 10px;
    box-shadow:
        2px 2px 5px var(--shadow-clr),
        -2px -2px 5px var(--calendar-clr);
}

.create-event-button:hover {
    box-shadow:
        inset 2px 2px 5px var(--shadow-clr),
        inset -2px -2px 5px var(--calendar-clr);
}

.event-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12.5%;
    width: 100%;
}

.scoreboard {
    flex-grow: 1;
    font-size: 0.75em;
    text-align: left;
    color: var(--second-text-clr);
}

.add-event-button {
    height: 36px;
    width: 54px;
    cursor: pointer;
    aspect-ratio: 3/2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-clr);
    background: var(--calendar-clr);
    border-radius: 10px;
    box-shadow:
        2px 2px 5px var(--shadow-clr),
        -2px -2px 5px var(--calendar-clr);
}

.add-event-button:hover {
    box-shadow:
        inset 2px 2px 5px var(--shadow-clr),
        inset -2px -2px 5px var(--calendar-clr);
}