@import '../../theme.css';

.custom-button {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    color: black;
    background-color: var(--icon-clr);
}

.button-icon {
    color: var(--icon-clr);
    width: 64px;
    height: 64px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
