@import '../../theme.css'; 

.sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: var(--lpanel-clr);
    padding: 8px 8px;
    z-index: -1;
}

ul{
    padding-inline-start: 0px;
}

li{
    min-height: 64px;
    min-width: 64px;
}