@import '../../theme.css';

.sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: var(--lpanel-clr);
    padding: 8px 8px;
    z-index: -1;
}

.sidebar ul {
    margin-top: 20px;
    padding-inline-start: 0px;
}

/* 
.sidebar ul li{
    position:relative;
    height:50px;
    width:100%;
    margin:5px 0;
    list-style: none;
    line-height: 50px;
} */

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 120px;
    background: var(--icon-clr);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px var(--shadow-clr);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar ul li .tooltip::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--icon-clr);
    position: absolute;
    left: -8px;
    top: 7px;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar .links_name {
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.sidebar.active .links_name {
    transition: 0s;
    opacity: 1;
    pointer-events: auto;
}
