.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 124px;
    width: 100%;
    background-color: #333;
    /* Цвет фона верхней панели */
    color: #fff;
    /* Цвет текста */
    padding: 0 20px;
    /* Отступы по краям */
}

.left-icon img {
    height: 64px;
    /* Высота иконок */
    width: 64px;
    /* Ширина иконок */
    margin-left: 10px;
    /* Отступ между иконками и краем верхней панели */
}

.right-icon img {
    height: 64px;
    /* Высота иконок */
    width: 64px;
    /* Ширина иконок */
    margin-right: 10px;
    /* Отступ между правой иконкой и краем верхней панели */
}