:root {
    --main-font: url('../../assets/fonts/Comfortaa/Comfortaa_Bold.ttf');
    --lpanel-clr: #60718f;
    --hover-clr: #8090a9;
    --backgr-clr: #c9d1d8;
    --calendar-clr: #f0eae4;
    --icon-clr: #f0eae4;
    --secondary-clr: #f4d3d1;
    --shadow-clr: #252d3a4b;
    --dark-clr: #252d3a;
}

.light-theme {
    --lpanel-clr: #60718f;
    /* --secondary-clr: #8090a9; */
    --backgr-clr: #c9d1d8;
    --calendar-clr: #f0eae4;
    --icon-clr: #f0eae4;
    --secondary-clr: #f4d3d1;
    --shadow-clr: #252d3a4b;
}

.dark-theme {
    --primery-clr: ;
    --secondary-clr: ;
    --backgr-clr: ;
    --lpanel-clr: ;
    --icons-clr: ;
}

@font-face {
    font-family: 'Comfortaa';
    src: var(--main-font) format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa;
}